*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:rgb(2, 2, 5);
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(12, 12, 12, 0.193);
}
nav ul {
    display:flex ;
    justify-content:center;
}
nav ul li{
    list-style: none;
    margin: 0px 23px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:hover{
    color: blueviolet;
    font-size: 1.4rem;
    transition: color 0.3s, font-size 0.3s;
}
.left{
    font-size:35px;
    color: antiquewhite;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin:
    
}
.leftsection{
    color:white;
    font-size: 3rem;
    margin-top: 10%;

}
.rightsection{
    width: 25%;
    
    background-color:;
}
.rightsection img{
    width:80%;
    margin:10%;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.rightsection img:hover {
    transform: scale(1.1);
}
.purple{
    color:rgb(43, 223, 230);
}
#element{
    color:rgb(43, 223, 230);
    animation: typing 4s steps(40) infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.secondsection{
    max-width: 80rw;
    margin: auto;
    color: aliceblue;
    text-align: center;
    height: 40vh;
}
main hr{
    border: 0;
    background-color: rgb(14, 14, 65);
    height:1px;
    margin: 30px 30px;
    transition: width 0.3s;
}
main hr:hover {
    width: 100%;
}
.textgray{
    color: grey;
}
.box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 50px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.box:hover {
    transform: scale(1.05);
}
.secondsection .vertical{
    height: 70px;
    width: 1px;
    background-color:white;
    margin:0px 210px
} 
.vertical-text{
    color:blanchedalmond;
}


.image-top{
    height: 80px;
    width: px;
    position: relative;
    top: -110px;
    left: -9px;
}


.certifications,
.internships {
    color: rgb(9, 9, 9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
.er{
    color: aliceblue;
}
.certification-item,
.internship-item {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.certification-item:hover,
.internship-item:hover {
    transform: scale(1.05);
}

.certification-item h2,
.internship-item h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.certification-item p,
.internship-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.certification-item a,
.internship-item a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.certification-item a:hover,
.internship-item a:hover {
    background-color: #555;
}
#as{
    color: palevioletred;
}
